<div class="container mt-5">
<!-- enter bar -->
<form action="/" method="POST">
 <div class="input-group mb-3">
  <input type="text" name="original_url" class="form-control" placeholder="Input URL here" value="{{original_url}}" required>
    <button class="btn btn-primary" type="submit">Shorten</button>
 </div>
</form>
</div>

