<div class="container mt-5">
<!-- enter bar -->
<h3>Success! Please use this link:</h3>

 <div class="input-group mb-3">
  <input type="text" name="original_url" class="form-control" placeholder="Input URL here" value="http://localhost:3000/{{link.password}}" id="copy" disabled>
  <button class="btn btn-outline-secondary" id="copy-button" onclick="copy()"><i class="fa fa-clone" aria-hidden="true"></i></button>
 </div>

<script>
    function copy() {
      const URL = document.getElementById("copy")
      navigator.clipboard.writeText(URL.value)
        .then(() => alert('copied'))
        .catch(error => console.log(error))
    }
  </script>
<div>
    <a class="btn btn-outline-primary" href="http://localhost:3000" role="button">
    Shorten another one!
    </a>
</div>
</div>